body {
    background-color : blanchedalmond;
}

.Main-Box {
    align-self: center;
    display: flex;
    flex-direction: column;
    width : 300px;
    height : 300px;
    border: 2px solid black;
}