body {
    background-color : blanchedalmond;
}

.Heading {
    text-align: center;
    color : darkblue;
    font-size: 100px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 50px;
}

.Main-Box {
    display: flex;
    flex-direction: column;
    width : 500px;
    height : 300px;
    align-items: center;
    margin: auto;
    margin-top: 75px;
    border: 2px solid black;
}

#City-search {
    margin-top: 20px;
    padding: 3px;
    width : 400px;
    height : 50px;
    border-radius: 50px;
    background-color: aquamarine;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color : darkviolet;
}

#Get-weather {
    margin-top: 20px;
    padding: 3px;
    width : 150px;
    height : 50px;
    background-color : lightgreen;
    color : darkblue;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
}

.Weather-Box {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    width : 80%;
    height : 300px;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
}

#Location {
    border: 2px solid darkgreen;
}

#Temperature {
    border: 2px solid darkgreen;
}

#Weather {
    border: 2px solid darkgreen;
}

#Humidity {
    border: 2px solid darkgreen;
}

#Wind-Speed {
    border: 2px solid darkgreen;
}